<!DOCTYPE html>
<html>
  <head> </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <h3 class="mt-5">Live Streaming</h3>
          <!-- <img src="{{ url_for('video_feed') }}" width="100%" /> -->
        </div>
      </div>
    </div>
    <p id="velocities"></p>
    <label for="tdm">Tank drive mode</label>
    <input type="checkbox" id="tdm" checked />
    <script
      type="text/javascript"
      src="{{url_for('static', filename='js/keypress.js')}}"
    ></script>
  </body>
</html>
